@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  padding-right: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: #829292;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#browser {
  margin: 10px auto;
  color: white;
  width: 80%;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
  background: #394141;
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.9em;
  position: relative;
}
#browser-bar p {
  text-align: center;
}
#browser-bar .circles {
  border-radius: 10px;
  height: 13px;
  width: 13px;
  background: #ff3434;
  float: left;
  margin-left: 7px;
  margin-top: 3px;
}
#browser-bar .circles:nth-of-type(2) {
  background: #ffdd33;
}
#browser-bar .circles:nth-of-type(3) {
  background: #67b678;
}

.arrow {
  position: absolute;
  right: 3px;
  top: 6px;
  font-size: 1.2em;
  color: #8e9699;
}

#content {
  background: #454f4f;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}
#content #left, #content #right {
  height: 100%;
}
#content #left {
  float: left;
  width: 75%;
  background: rgb(253, 73, 73);
}
@media all and (max-width: 780px) {
  #content #left {
    width: 100%;
  }
}
#content #left #map {
  height: 388px;
  position: relative;
  background-image: url("http://f.cl.ly/items/452R3S1440221Z3m372j/israel.png");
  background-size: cover;
}
#content #left #map p {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 0.9em;
  font-weight: 600;
}
#content #left #map .zoom {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 2px;
  height: 70px;
  background: white;
}
#content #left #map .zoom:before, #content #left #map .zoom:after {
  text-align: center;
  font-weight: 600;
  position: absolute;
  color: rgb(123, 130, 192);
  background: white;
  width: 20px;
}
#content #left #map .zoom:before {
  content: '+';
  top: -10px;
  right: -8px;
}
#content #left #map .zoom:after {
  content: '-';
  bottom: -10px;
  right: -8px;
}
#content #left #map .map-locator {
  position: absolute;
  top: 40%;
  left: 30%;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.4);
  border: solid 2px white;
}
#content #left #map .map-locator:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 5px;
}
#content #left #map .map-locator .tooltip {
  position: absolute;
  color: #394141;
  left: 50px;
  top: -10px;
  background: white;
  font-size: 0.8em;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #left #map .map-locator .tooltip:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 14px;
  border-right: solid white 10px;
  border-top: solid transparent 8px;
  border-bottom: solid transparent 8px;
}
#content #left #map .map-locator .tooltip [class*="entypo-"] {
  min-width: 25px;
  display: inline-block;
  text-align: center;
  border-right: solid thin #CCC;
  margin-right: 5px;
}
#content #left #map .map-locator .tooltip li {
  border-bottom: solid thin #CCC;
  padding: 10px;
  white-space: nowrap;
}
#content #left #map .map-locator .tooltip li a {
  color: #51B2D6;
}
#content #left #map .map-locator .tooltip li:hover [class*="entypo-"] {
  color: #51B2D6;
}
#content #left ul#location-bar {
  width: 100%;
  text-align: center;
  display: table;
}
#content #left ul#location-bar li {
  display: table-cell;
  padding: 15px;
  background: rgb(105, 6, 6);
  border-right: solid thin #7fb587;
}
#content #left ul#location-bar li:last-of-type {
  border-right: 0;
}
#content #left ul#location-bar li:hover {
  background: rgb(253, 73, 73);
}
#content #left ul#location-bar .active {
  background: rgb(253, 73, 73);
}
#content #right {
  float: left;
  width: 25%;
  background: #454f4f;
  font-size: 0.75em;
  padding: 15px;
}
@media all and (max-width: 780px) {
  #content #right {
    width: 100%;
  }
}
#content #right p {
  margin-bottom: 10px;
  text-transform: uppercase;
}
#content #right a:hover {
  color: #51B2D6;
}
#content #right #social {
  display: table;
  width: 100%;
}
#content #right .social {
  display: table-cell;
  text-align: center;
}
#content #right form {
  border-top: solid thin #8e9699;
  border-bottom: solid thin #8e9699;
  margin: 20px 0;
  padding: 20px 0;
}
#content #right form input,
#content #right form textarea {
  background: #394141;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  color: white;
}
#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
  margin-bottom: 0;
}
#content #right form input[type='submit'],
#content #right form textarea[type='submit'] {
  text-transform: uppercase;
  background: #ad170c;
  width: 50%;
  color: white;
  margin-top: 5px;
}
#content #right form input[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
  background: #ad170c;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
  min-height: 75px;
  vertical-align: text-top;
}
#content #right p.other {
  font-size: 0.7;
  margin-bottom: 5px;
  text-transform: lowercase;
  font-weight: 100;
}
#content #right p.other,
#content #right p.other a {
  color: #8e9699;
}



  /* Import Sanatize to reset browser defaults - Short URL(http://srt.lt/Q6P0nY) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css');

/* Import Roboto and Roboto-slab from Google Fonts - Short URL (http://srt.lt/b4tY7) */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300');

/* Import Font Awesome - Short URL (http://srt.lt/p2b4) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Social icons based on: codepen.io/matchboxhero/pen/onzkC */


  
  body {
	background-color: #f1f1f1;
	padding: 20px;
	font-family: Arial;
  }
  
  /* Center website */
  .main {
	max-width: 1000px;
	margin: auto;
  }
  
  h1 {
	font-size: 50px;
	word-break: break-all;
  }
  
  .row {
	margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
	padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
	float: left;
	width: 33.33%;
	display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Content */
  .content {
	background-color: white;
	padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
	display: block;
  }
  
  /* Style the buttons */
  .btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
  }
  
  .btn:hover {
	background-color: #ddd;
  }
  
  .btn.active {
	background-color: #666;
	color: white;
  }

[class^="icon--"] {
    font-family: 'FontAwesome'; /* Apply icon font */
    font-style: normal; /* Removes the default italics */
}

[class^="social-button"] {
   	display: inline-flex; /* Display elements inline but turn them into a flex-container */
	align-items: center; /* Centrally align the children vertically */
	justify-content: center; /* Centrally align the children horizontally */

   	height: 3rem; /* Create square */
    width: 3rem; /* Create square */

   	font-size: 1.4rem; /* Increase the default font size */
    color: white; /* Make icon white */
    border-radius: 50%; /* Create circle */

    text-decoration: none; /* Remove default underline */

    transition: background-color 150ms ease-in-out; /* Transition background colour on hover */

    margin-right: 0.1rem;
}

.icon--twitter::before {
    content: '\f099'; /* Unicode value for the twitter icon in our chosen icon font */
}

.icon--facebook::before {
    content: '\f09a'; /* Unicode value for the facebook icon in our chosen icon font */
}

.icon--pintrest::before {
    content: '\f231'; /* Unicode value for the pintrest icon in our chosen icon font */
}

.social-button--twitter {
    background-color: #32b9e7; /* Twitter colour */
}

.social-button--twitter:hover {
    background-color: #2a9dc4; /* Twitter hover colour */
}

.social-button--facebook {
    background-color: #528ff1; /* Facebook colour */
}

.social-button--facebook:hover {
    background-color: #5292fa; /* Facebook hover colour */
}

.social-button--pintrest {
    background-color: #f71774; /* Pintrest colour */
}

.social-button--pintrest:hover {
    background-color: #c21a60; /* Pintrest hover colour */
}

.menu-button {
	display: flex; /* Display flex to center the menu icon in the button */
	justify-content: center; /* Align horizontally */
	align-items: center; /* Align vertically */

	width: 4rem; /* Button width */
	height: 4rem; /* Button height */
	border-radius: 50%; /* Make the button a circle */
	background-color: rgba(255,255,255,0.4); /* Make the background white and semi-transparent */
	cursor: pointer;

	transition: background-color 500ms ease-in-out; /* Add transition for the background-color */
}

.menu-button {
	margin: 1.5rem;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
    background-color: rgba(0,0,0,0.8); /* On hover, transition the background-color and transparency */
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
    background: white; /* On hover, make the background-color of the menu icon white */
}

.menu-icon {
	position: relative; /* Give the menu-icon position relative so we can absolutely position children */
    width: 2rem; /* Icon width */
	height: 1.5rem; /* Icon height */
}

.menu-icon span {
    position: absolute; /* Absolutely position all children of the menu-icon */
    height: 0.125rem; /* Height of each line in our menu button */
    width: 100%; /* With of each line */
    background-color: #332F21; /* Background colour of each line */
    transition: background-color 500ms ease-in-out; /* Transition added for the background colour */
}

.menu-icon span:nth-child(1) {
    top: 0.0625rem; /* Position the first line roughly 1px from the top */
}

.menu-icon span:nth-child(2) {
    top: 0.625rem; /* Position the second line roughly 10px from the top, one on top of the other */
}

.menu-icon span:nth-child(3) {
    top: 1.25rem; /* Position the fourth line roughly 20px from the top */
}

.menu-icon.is-active span:nth-child(1) {
    opacity: 0; /* Hide the first line */
}

.menu-icon.is-active span:nth-child(2) {
    transform: rotate(45deg); /* Rotate the second line 45 degrees */
}

.menu-icon.is-active span:nth-child(3) {
	top: 0.625rem; /* Position the third line over the second line */
    transform: rotate(-45deg); /* Rotate the third line -45 degrees */
}

.fullscreen-menu-container .menu-button {
	position: absolute; /* Position the button absolutely to the image-cotainer */
	top: 1.5rem; /* Position button from the top */
	right: 1.5rem; /* Position button from the left */
}

.fullscreen-menu-container {
	position: fixed; /* Fix the menu to the viewport */
	top: 12.5rem; /* Add the top value to allow the element to animate up over */
	left: 0; /* Position to the left of the viewport */
	z-index: 5; /* Add z-index to make sure the element is always above everything else */
	width: 100vw; /* Cover the whole width of the viewport */
	height: 100vh; /* Cover the whole height of the viewport */
	overflow: scroll; /* Allow scrolling when the content is larger than the viewport */

	background-color: rgba(255,255,255,0.95); /* Semi-transparent white background for the menu-overlay */

	opacity: 0; /* Apply 0 transparency to hide the overlay on load */
	pointer-events: none; /* Stop the elements in the menu-container from being clicked */

	transition: top 500ms ease-in, opacity 300ms ease-in; /* Transition the top and opacity */
}

.fullscreen-menu-container.is-open {
	opacity: 1; /* Transition opacity from 0 to 1 */
	top: 0; /* Transition to the top of the viewport */
	pointer-events: auto; /* Re-add pointer events to elements can be clicked again */
}

.fullscreen-menu-container .menu-button {
	position: absolute; /* Position the button absolutely to the image-cotainer */
	top: 1.5rem; /* Position button from the top */
	right: 1.5rem; /* Position button from the left */
}

.fullscreen-menu {
	text-align: center; /* Apply text-align center to all children */
	max-width: 62rem; /* Maximum width of the content */
	padding: 6rem 2rem 4rem; /* Add padding to the content, large at the top to allow for the close button */
	width: 100%; /* Where it can, stretch to the max-width otherwise, the full viewport */
}

	.fullscreen-menu__image-container {
		width: 5rem; /* Make square */
		height: 5rem; /* Make square */
		border-radius: 50%; /* Turn the square into a circle */
		background-image: url('../images/fotoadya.jpg'); /* Apply the image as the background */
		background-size: cover; /* Force the background image to cover the container */
		background-position: center center; /* Position the image in the middle */
		margin: 0 auto 1.5rem;
	}

	.fullscreen-menu__title {
		max-width: 30rem; /* Apply a different max-width to the title to achieve a more optimal reading lenght */
		margin: 0 auto; /* Position in the horizontal center and remove top and bottom margins */
	}

	.fullscreen-menu__nav {
		margin: 3rem 0; /* Apply top and bottom margin of the navigation */
	}

	.fullscreen-menu__nav ul {
		list-style: none; /* Remove the dots from list items */
		margin: 0; /* Remove defualt margin */
		padding: 0; /* Remove default padding */
	}

	.fullscreen-menu__nav a {
		display: block; /* Span the whole width */
		font-size: 1.4rem; /* Increase the default font size */
		padding: 1rem; /* Add padding to the button to increase the click/tap area */
		color: #A2A2A2; /* Apply light grey colour */
		text-decoration: none; /* Remove default underline */
		transition: color 300ms ease-in; /* Add transition for the colour on hover */
	}

	.fullscreen-menu__nav a:hover,
	.fullscreen-menu__nav a:focus,
	.fullscreen-menu__nav a:active {
		color: #332F21; /* Darken the text colour on hover */
	}

.fullscreen-menu [class^="social-button"] {
	margin: 0 0.5rem; /* Add a larger margin between the social buttons in the menu overlay */
	height: 3.75rem; /* Increase the size of the social buttons */
    width: 3.75rem; /* Increase the size of the social buttons */
    font-size: 1.5rem; /* Increase the size of the social icon inside the button */
}

@media only screen and (min-width: 46rem) { /* When the viewport is large enough */

	.fullscreen-menu-container {
		display: flex; /* Add display flex to the container */
		justify-content: center; /* Align menu contents to the center horizontally */
		align-items: center; /* Align menu contents to the center vertically */
	}

	.fullscreen-menu {
		padding: 0;
	}

	.fullscreen-menu__nav {
		margin: 2rem 0; /* Increase the margin between the navigation and other elements in the menu */
	}

   .fullscreen-menu__nav ul {
	display: flex; /* Turn the unordered list into a flex-container */
	justify-content: space-between; /* Share the available space between the list items */
}

}

.container11 {
  flex: 0 0 auto;
  width: 70px;
  height: 150px;
}
  
  @media screen and (max-height: 255px) {.container11 {
    margin: 25px auto
}
  }

.button11 {
  display: inline-block;
  padding: 12px 12px 10px;
  border: 0;
  border-radius: 3px;
  background: #bf4d28;
  text-decoration: none;
  transition: all 1.2s ease-in-out;
}

.button11 i::after {
    content: "\f019";
    font-size: 40px;
    color: #fff;
  }

.button11:hover {
    -webkit-animation: pulse 0.2s 2 both;
            animation: pulse 0.2s 2 both;
  }

.button11.loading i {
      -webkit-animation: loading 2s infinite linear;
              animation: loading 2s infinite linear;        
    }

.button11.loading i::after {
        content: "\f1ce";
      }

.button11.success {
    border-radius: 50%;
    background: #80bca3;
  }

.button11.success i::after {
      content: "\f00c";
      color: transparent;
      -webkit-animation: change-icon 1s 0.6s linear both;
              animation: change-icon 1s 0.6s linear both;
    }

@-webkit-keyframes loading {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes loading {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@-webkit-keyframes change-icon {
  0% {
    color: transparent;
  }
  
  100% {
    color: #fff;
  }
}

@keyframes change-icon {
  0% {
    color: transparent;
  }
  
  100% {
    color: #fff;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}